* {
  margin: 0;
  padding: 0;
}


.body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quoteBox{

  background-color: white;
  padding: 20px;
  width: 35%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.quote{
  text-align: center;
  display: flex;
  justify-content: center;
  
}

.quote p{
  margin-top: 15px;
}

.quote i{
  margin-right: 30px;
}

.author{
  margin-top: 20px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.author button{
  margin-top: 10px;
  border: none;
}